@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #A27B5C;
    --cor-terciaria: #DCD7C9;
    --cor-hover: #3F4E4F;

    --font-primaria: 'Montserrat', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    overflow: hidden;
}

.cabecalho {
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__menu__links {
    font-family: var(--font-primaria);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--cor-secundaria);
    text-decoration: none;
}

img {
    width: 345px;
    height: 345px;
    border-radius: 15% 15%;
    /* border: 1px solid;
    padding: 10px; */
    -webkit-box-shadow: 8px -8px 10px 1px var(--cor-hover);
    -moz-box-shadow: 8px -8px 10px 1px var(--cor-hover);
    box-shadow: 8px -8px 10px 1px var(--cor-hover);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--font-secundaria)
}

.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.4rem;
    font-family: var(--font-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1rem;
}

.apresentacao__links__link {
    width: 230px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    border: 1px solid var(--cor-hover);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 55px;
  
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__link img {
    width: 23px;
    height: 23px;
    background-color: var(--cor-secundaria);
}

.apresentacao__imagem {
    width: 25%;
    height: 25%;
    border-radius: 15% 15%;
}

.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 20px;
    justify-content: end;
    top: 110px;
}

.rodape2 {
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 20px;
    justify-content: end;
    top: 14rem
}

@media (min-width: 480px) and (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }
}